<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="./styles.css" />
<body>
    <form method="post" action="./Home" class="ButtonHolder">
        <h1>Login</h1>
        <label>Email:</label>
        <input type="email" name="Email" />
        <label>Password:</label>
        <input type="password" name="Password" />
        <br>
        <input type="submit" value="Login" />
    </form>
    <a href="/" class="home">Home</a>

</body>
</html>